body {
    background-color: #050C16;
    color: lightgrey;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
blockquote{
  font-size: 1.4em;
  width:100%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: black;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

h1 {
    letter-spacing: 7px;
    font-size: xx-large;
}
.social-link a {
    text-decoration: none;
    font-size: 1.2em;
    padding: 7px;
}
.summary-list ul li {
    list-style-type: none;
}
.summary-list ul li::before {
    content: "👉 ";
}
.contact {
    margin-top: 36px;
    padding: 1%;
    margin-bottom: 16px;
}
.contact a {
    text-decoration: none;
    color: #0578FF;
}
.color-highlight {
    color:#1CC7C1;
}
.img-div{
    width: 400px;
    height: 400px;
}
.profile-img {
    width: 50%;
    height: auto;
    border: 3px solid lightblue;
    padding: 3px;
    background-color: #FEE15E;
    border-radius: 50%;
}
#rotate-img {
    transform: rotate(-0.5deg);
    display: block;
    margin: 0 auto;
}
@media only screen and (max-width: 600px) {
    .profile-img {
        margin-top: 10px;
    }
    .summary-list ul li {
        text-align: left;
    }
}