.nav-link {
color: white !important;
}
.navbar-brand {
    color: white !important;
}
@media only screen and (max-width: 600px) {
    .nav-item {
        text-align: center;
        width: 100%;
        border-radius: 7px;
    }
}